.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    padding: 25px;
    text-transform: uppercase;
}

@media (min-width: 2500px) {
    .footer {
        font-size: 22px;
    }
}